/* section {
    padding: 10px 150px;
} */

.banner {
    /* border: 2px solid gray; */
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 15px 0px;
    border-radius: 10px;
    padding-right: 20px;
}

.banner_list ul li {
    list-style: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #505050;
    padding: 9px 8px;
}

.banner_list ul:hover li {
    color: black;
    background-color: rgba(229, 241, 255, 1);
    border-radius: 8px;
}

.banner_list ul {
    margin: 0;
}

.banner_slide {
    position: relative;
}

.banner_slide img {
    width: 100%;
}

.bnner_text_btn {
    position: absolute;
    top: 20%;
    left: 6%;
}

.avtar {
    border-radius: 6px;
    background: #E3F0FF;
    padding-bottom: 2px;
    margin-bottom: 13px;
}
.avtar h4{
    
}

.avtar_img img {
    width: 50%;
    height: 50%;
    padding: 10px 10px;
    margin-top: 19px;
}

.login_btn {
    /* text-align: center; */
    margin: 0px 6px;
}

.login_btn button {
    padding: 8px 0px;
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;

}

.IInd_div {
    border-radius: 6px;
    background: #F38332;
    margin-bottom: 5px;
}

.IInd_div,
.IIIrd_div .div_text {
    padding: 5px 35px 10px 15px;
}

.IInd_div h4,
.IIIrd_div h4 {
    padding: 7px 0px;
    margin: 0;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.IIIrd_div {
    border-radius: 6px;
    background: #55BDC3;
}

.bnner_text_btn h5 {
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1C1C1C;
}

.bnner_text_btn h2 {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.bnner_text_btn button {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #1C1C1C;
    padding: 8px 20px;
}

/* Reaponsive */
@media screen and (max-width:1386px) {
    .banner_slide img {
        height: 380px;
    }

    .avtar_img h4,
    .avtar_img img {
        margin: 0;
    }

    .login_btn button {
        width: 150px;
        height: 30px;
    }
}

@media screen and (max-width:1280px) {
    section {
        padding: 8px 130px;
    }
}

@media screen and (max-width:1024px) {
    section {
        padding: 8px 15px;
    }

    .banner_list ul li {
        font-size: 17px;
    }

    .banner_slide img {
        height: 343px;
    }

    .avtar_img img {
        width: 40%;
        height: 40%;
        padding: 16px 10px;
    }

    .avtar_img h4,
    .IInd_div h4,
    .IIIrd_div h4 {
        font-size: 13px;
    }

    .login_btn button {
        width: 122px;
        padding: 20px 0px;
        /* height: 1px; */
    }
}

@media screen and (max-width:820px) {
    .banner_list ul li {
        font-size: 12px;
    }
    .banner_list ul{
        padding-left: 12px;
    }

    .banner_slide img {
        height: 306px;
    }

    .IInd_div,
    .IIIrd_div .div_text {
        padding: 5px 0px 7px 7px;
    }

    .avtar_img h4,
    .IInd_div h4,
    .IIIrd_div h4 {
        font-size: 11px;
    }

    .login_btn button {
        width: 83px;
        padding: 14px 0px;
    }
}

@media screen and (max-width:768px) {
    .banner_list ul li {
        font-size: 12px;
    }

    .banner_slide img {
        height: 305px;
    }

    .avtar_img h4,
    .IInd_div h4,
    .IIIrd_div h4 {
        font-size: 8.8px;
    }

    .login_btn button {
        width: 83px;
        padding: 15px 0px;
        /* height: 1px; */
    }
}

@media screen and (max-width:640px) {
    .banner {
        border: none;
        padding-right: 0;
    }

    .banner_list,
    .login {
        display: none;
    }
}