.banner_list ul li {
    list-style: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.banner_slide {
    position: relative;
}

.bnner_text_btn {
    position: absolute;
    top: 20%;
    left: 6%;
}

.avtar {
    border-radius: 6px;
    background: #E3F0FF;
}

.IInd_div {
    border-radius: 6px;
    background: #F38332;
}

.IIIrd_div {
    border-radius: 6px;
    background: #55BDC3;
}