.App {
    text-align: center;
}

@media screen and (max-width:1386px) {
    .item_bar input {
        width: 16px;
        margin-left: 300px;
    }
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1280px) {}

@media screen and (max-width:1024x) {}

@media screen and (max-width:986px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {}

@media screen and (max-width:360px) {}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.top {
    height: 50px;
}

.nav_his {
    color: #8B96A5;
    font-family: sans-serif;
    margin: 5px 0px 0px 0px;
    display: flex;
}

.nav_his i {
    font-size: 12px;
    padding: 3px 3px;
}

.right_arrow {
    height: 20px;
    width: 20px;
    margin: 15px 0px 0px 2px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.containe {
    margin: 0px 80px;
    width: 91%;
    padding: 0px;
}

.row {
    display: flex;
}

.row .colu-2 {
    padding: 0px 10px 0px 0px;
    text-align: left;
    width: 14%;
}

.row .colu-10 {
    width: 86%;
    padding: 10px 0px 10px 10px;
}

.category {
    padding: 14px 0px;
    color: #1C1C1C;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
}

.category i {
    margin-left: 90PX;
}

.category_item {
    color: #505050;
    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.category_items {
    color: #505050;
    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    padding: 9px 11px 8px 0px;
}

.category_items_see {
    color: #0D6EFD;
    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    padding: 9px 11px 8px 0px;
}

.brands {
    margin-top: 20px;
    padding: 14px 0px;
    color: #1C1C1C;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    word-wrap: break-word;
}

.brands i {
    margin-left: 105px;
}

.brands_items {
    display: flex;
    padding: 6px 16px 6px 0px;
}

.brands_items input {
    width: 20px;
    height: 20px;
}

.brands_items .txt {
    color: #1C1C1C;
    font-family: sans-serif;
    padding-left: 15px;
    font-weight: 400;
    word-wrap: break-word
}

.features {
    margin-top: 20px;
    padding: 14px 0px;
    color: #1C1C1C;
    display: flex;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

.features i {
    margin-left: 95px;
}

.features_items {
    display: flex;
    padding: 6px 16px 6px 0px;
}

.features_items input {
    width: 18px;
    height: 18px;
}

.features_items .txt {
    color: #1C1C1C;

    font-family: sans-serif;
    padding-left: 15px;
    font-weight: 400;
    word-wrap: break-word;
}

.Price_range {
    margin-top: 20px;
    padding: 14px 0px;
    color: #1C1C1C;
    display: flex;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

.Price_range i {
    margin-left: 60px;
}

.pricerange {
    width: 100%;
}

.range {
    color: #1C1C1C;

    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    display: flex;
    padding: 10px 0px;
}

.range .min_range {
    width: 48%;
    margin-right: 10px;
}

.range .max_range {
    width: 48%;
    margin-right: 10px;
}

.range .min_range input {
    outline: none;
    color: #676b70;

    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    width: 100%;
    padding: 5px 10px;
}

.range .max_range input {
    outline: none;
    color: #676b70;

    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    width: 100%;
    padding: 5px 10px;
}

.apply_button {
    color: #0D6EFD;
    padding: 5px 16px;

    font-family: sans-serif;
    font-weight: 700;
    width: 95%;
    word-wrap: break-word;
    border: 1px rgb(19, 17, 17) solid;
    text-align: center;
    border-radius: 5px;
}

h4 {
    margin-top: 20px;
    padding: 14px 0px;
    color: #1C1C1C;
    display: flex;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    width: 100%;
    word-wrap: break-word;
}

.Condition_items {
    display: flex;
    padding: 6px 16px 6px 0px;
}

.Condition_items input {
    width: 18px;
    height: 18px;
}

.Condition_items .txt {
    color: #1C1C1C;

    font-family: sans-serif;
    padding-left: 15px;
    font-weight: 400;
    word-wrap: break-word;
}

.ratings {
    margin-top: 20px;
    padding: 14px 0px;
    color: #1C1C1C;
    display: flex;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

.ratings i {
    margin-left: 95px;
}

.ratings_items {
    display: flex;
    padding: 6px 16px 6px 0px;
}

.ratings_items input {
    width: 18px;
    height: 18px;
}

.ratings_items .txt {
    color: #1C1C1C;

    font-family: sans-serif;
    padding-left: 15px;
    font-weight: 400;
    word-wrap: break-word;
}

.item_bar {
    border-radius: 6px;
    padding: 11px;
    border: 1px #DEE2E7 solid;
    display: flex;
    margin-bottom: 20px;
}

.item_avaible {
    text-align: left;
    width: fit-content;
}

.item_bar input {
    width: 16px;
    margin-left: 620px;
}

.item_bar .verify_check {
    font-size: 14px;
    padding-top: 2px;
    padding-left: 10px;
}

.item_bar .feature {
    font-size: 14px;
    border-radius: 6px;
    border: 1px #DEE2E7 solid;
    padding: 1px 7px;
    margin: 0px 15px;
}

.item_bar .feature i {
    width: 14px;
    padding-left: 60px;
}

.item_bar img {

    padding: 1px 5px;
    width: 35px;
}

.available_items {
    border-radius: 6px;
    border: 1px #DEE2E7 solid;
    padding: 5px;
    display: flex;
    margin-top: 10px;
}

.img1{
    width: 200px;
}
.img1 img{
    width: 100%;
}

.item_specs {
    width: 62%;
    text-align: left;
    padding: 10px 20px;
}

.item_name {
    font-family: sans-serif;
    font-weight: 500;
    line-height: 22px;
    word-wrap: break-word;
}

.item_price {
    font-size: 18px;
    padding-top: 5px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 28px;
    word-wrap: break-word;
}

.item_price strike {
    color: #8B96A5;

    font-family: sans-serif;
    font-weight: 600;
    text-decoration: line-through;
    word-wrap: break-word;
}

.available_item_rating img {
    height: 30px;
}

.available_item_rating {
    color: #FF9017;
    font-size: 15px;
    font-weight: 500;
}

.available_item_rating span {
    padding-left: 10px;
}

.available_item_description {
    color: #505050;
    font-family: sans-serif;
    line-height: 24px;
    word-wrap: break-word;
    word-spacing: 1.5px;
    padding-top: 10px;
}

.item_specs span {
    font-weight: 600;
    margin-top: 5px;
    color: #1C1C1C;
}

.pagi {
    margin-left: 82%;
    height: 35px;
    display: flex;
    text-align: left;
}

.page_numbers {
    padding: 5px 10px 3px;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid #DEE2E7;
    margin-right: 5px;
}

.page_numbers i {
    padding-left: 10px;
}

.page_no {
    padding: 6px 10px;

    border: 1px solid #DEE2E7;
}

.page_no i {
    font-size: 15px;
}

#down {
    display: flex;
    align-items: center;
}

.markname {
    justify-content: space-between;
    display: flex;
}

@media screen and (max-width:1387px) {
    .item_bar input {

        margin-left: 440px;
    }

    .containe {
        width: 88%;
        margin: 0px 50px;
    }

    .pagi {
        margin-left: 76%;
    }
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1280px) {
    .item_bar input {

        margin-left: 350px;
    }

    .containe {
        width: 88%;
        margin: 0px 50px;
    }

    .pagi {
        margin-left: 72%;
    }
}

@media screen and (max-width:1025px) {
    .item_bar input {
        margin-left: 350px;
    }

    .containe {
        width: 94%;
        margin: 0px 40px;
    }

    .pagi {
        margin-left: 70%;
    }

    * {
        font-size: 15px;
    }
    .colu-2{
        width: 22%;
    }
    .colu-10{
        width: 76%;
    }

    .img1 {
        width: 200px;
    }

}

@media screen and (max-width:986px) {
    * {
        font-size: 12px;
    }

    .item_bar input {
        margin-left: 70px;
    }

    .row .colu-10 {}

    .containe {
        margin: 0px 20px;
        width: 986px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {}

@media screen and (max-width:360px) {}

#down {
    text-align: right;
}